PORT=5000
CLIENT_URL=http://localhost:5173

JWT_SECRET=your_jwt_secret

DB_HOST=localhost
DB_USER=juliet
DB_PASSWORD=juliet
DB_NAME=civicbridgepulse

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USER=edb1c688cbee64
EMAIL_PASS=bfaf5116458c0c
EMAIL_FROM="CivicBridgePulse <no-reply@example.com>"
EMAIL_SECURE=false
